@model plane.Models.RegisterViewModel
<form asp-controller="User" asp-action="Register" method="post">
    <br>
    <br>
    <h2>Register</h2>

    <p><label asp-for="alias"></label> <!-- label -->
    <input asp-for="alias"/> <!-- db form-->
    <span asp-validation-for="alias"></span><!-- matching validation--></p>

    <p><label asp-for="name"></label>
    <input asp-for="name"/>
    <span asp-validation-for="name"></span></p>

    <p><label asp-for="email"></label>
    <input asp-for="email"/>
    <span asp-validation-for="email"></span></p>

    <p><label asp-for="password"></label>
    <input asp-for="password"/>
    <span asp-validation-for="password"></span></p>

    <p><label asp-for="confirm"></label>
    <input asp-for="confirm"/>
    <span asp-validation-for="confirm"></span></p>

    <p><button class="btn btn-sm btn-danger" type="submit">Create new User</button></p>
</form>



@if (ViewBag.errorMsg != null)
{
    
    <p>@ViewBag.errorMsg</p>
}

